<div>
    <h1 [title]="alt">{{title}}</h1>
    <p *ngIf="counter < 5; else done">{{counter}}</p>
    <ng-template #done>
      <p>Max!</p>
    </ng-template>
    <button type="button" (click)="increment()">+++</button>

    <p>Selected user: {{selectedUser?.fullName}}</p>

    <p *ngIf="selectedUserForm.invalid">Error!</p>

    <form [formGroup]="selectedUserForm">
      <label>
        username:
        <input type="text" formControlName="username">
      </label>
      <label>
          email:
          <input type="text" formControlName="email">
        </label>
        <label>
            fullName:
            <input type="text" formControlName="fullName">
          </label>
          <label>
              age:
              <input type="number" formControlName="age">
            </label>
    </form>

    <app-user *ngFor="let user of users" [user]="user" (select)="select($event)"></app-user>
  </div>
